.cuerpo{
    background-color: rgba(177, 173, 173, 0.467);
    height: 1000px;
    border-radius: 5%;
}
.minter{
    background-color: rgba(0, 0, 0, 0.761);
    color: rgb(208, 204, 204);
    height: 990px;
    margin-top:10px;
    border-radius: 5%;   
}

.navbar{
    background-color: rgba(255, 255, 255, 0.823);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: 50px;
    margin-left: 75px;
    font-size: 20px;
    
}


body{
    background-color: black;
}

.Titulo {
    font-size: 4em;
    text-align: center;
    font-family: fantasy;
    margin-top: 20px;
}
.footer{
    border-radius: 5%;
    height: 3em;
    margin-top: 50px;
}
.lin{
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: fantasy;
    font-size: 2em;
}
